<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/custom.css">
  <title>{{page.title}}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Compassion</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">

          {{#each links}}


          <li class="nav-item">
            <a class="nav-link active" {{#if newTab}}target="_blank" {{/if}} {{#ifEquals type "page"
              }}href="/{{linkValue}}" {{else}}href="{{linkValue}}" {{/ifEquals}}>{{label}}</a>
          </li>

          {{/each}}

        </ul>
        <span class="navbar-text">
          {{#if site.facebook}}<a target="_blank" href="{{site.facebook}}"><i class="bi bi-facebook"></i></a>{{/if}}
          {{#if site.instagram}}<a target="_blank" href="{{site.instagram}}"><i class="bi bi-instagram"></i></a>{{/if}}
          {{#if site.twitter}}<a target="_blank" href="{{site.twitter}}"><i class="bi bi-twitter"></i></a>{{/if}}
          {{#if site.youtube}}<a target="_blank" href="{{site.youtube}}"><i class="bi bi-youtube"></i></a>{{/if}}
        </span>
      </div>
    </div>
  </nav>

  <div class="container">{{{body}}}</div>
</body>

<script src="js/bootstrap.min.js"></script>

</html>