<section class="flat-row flat-about-charry">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-section">
                    <h4>{{subTitle}}</h4>
                    <h2>{{title}}</h2>
                    {{!-- <h2><span>About</span> Compassion</h2> --}}
                </div>
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
        <div class="about-charry">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{imageUrl}}" alt="image">
                </div>
                <div class="col-md-6">
                    <div class="about-charry-post">
                        <h4 class="title-post">
                            {{!-- <a href="#">{{heading}}</a> --}}
                            {{heading}}
                        </h4>
                        {{{body}}}
                        <div class="about-button">
                            <button onclick="window.location.href='{{buttonLink}}'"
                                class="flat-button button-style">{{buttonLabel}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section><!-- /flat-row flat-about-charry -->