{{#switch type}}

{{#case 'heading'}}
<div class="title-section">{{{text}}}</div>
{{/case}}

{{#case 'paragraph'}}
{{{text}}}
{{/case}}

{{#case 'button'}}
<div class="mt-2 mb-5 text-center">

    <button class="flat-button button-style button" onclick="window.location.href='/{{buttonValue}}'">{{label}}</button>
    {{!-- <a class="btn btn-primary" {{#if newTab}}target="_blank" {{/if}} href="/{{buttonValue}}"
        role="button">{{label}}</a> --}}

</div>
{{/case}}

{{#case 'image'}}
<img src="{{url}}" alt="image" class="img-fluid mb-5 rounded" />
{{/case}}

{{#case 'form'}}
<form>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" aria-describedby="phoneHelp">
            </div>
            <div class="mb-3 form-check">
                <label for="comments" class="form-label">Comments</label>
                <textarea class="form-control" id="comments" rows="5" aria-describedby="commentsHelp"></textarea>
            </div>
            <button type="submit" class="flat-button button-style button">Submit</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</form>
{{/case}}

{{#case 'about-us'}}
{{> aboutUs}}
{{/case}}

{{#case 'three-column-with-icon'}}
{{> threeColumnWithIcon}}
{{/case}}

{{#case 'large-image-section-with-button'}}
{{> largeImageSectionWithButton}}
{{/case}}

{{#case 'our-programs'}}
{{> ourPrograms}}
{{/case}}

{{#case 'staff'}}
{{> staff}}
{{/case}}

{{#case 'statistics'}}
{{> statistics}}
{{/case}}

{{#case 'two-by-two-information'}}
{{> twoByTwoInformation}}
{{/case}}

{{#case 'paragraph-with-heading'}}
{{> paragraphWithHeading }}
{{/case}}

{{#case 'body'}}
{{> body }}
{{/case}}

{{/switch}}