{{#switch type}}

{{#case 'heading'}} <div class="title-section">{{{text}}}</div>{{/case}}

{{#case 'paragraph'}} {{{text}}} {{/case}}

{{#case 'button'}}
<div class="mt-2 mb-5"><a class="btn btn-primary" {{#if newTab}}target="_blank" {{/if}} href="/{{buttonValue}}"
                role="button">{{label}}</a></div>
{{/case}}

{{#case 'image'}} <img src="{{url}}" alt="image" class="img-fluid mb-5 rounded" /> {{/case}}

{{/switch}}