<section class="flat-row flat-icon icon-left">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-section">
                    <h4>You can join Us</h4>
                    <h2><span>Our</span> Programs</h2>
                </div>
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
        <div class="flat-icon-left">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-handbag"></i>
                            <h6 class="title-post">
                                <a href="#">{{heading1}}</a>
                            </h6>
                        </div><!-- /icon -->
                        <div class="icon-post-v1">
                            <p>{{paragraph1}}</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-book-open"></i>
                            <h6 class="title-post">
                                <a href="#">{{heading2}}</a>
                            </h6>
                        </div><!-- /icon -->
                        <div class="icon-post-v1">
                            <p>{{paragraph2}}</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-home"></i>
                            <h6 class="title-post">
                                <a href="#">{{heading3}}</a>
                            </h6>
                        </div><!-- /icon -->
                        <div class="icon-post-v1">
                            <p>{{paragraph3}}</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->
            </div><!-- /row -->

            <div class="row">
                <div class="flat-divider d45px"></div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-shield"></i>
                            <h6 class="title-post">
                                <a href="#">{{heading4}}</a>
                            </h6>
                        </div><!-- /icon -->
                        <div class="icon-post-v1">
                            <p>{{paragraph4}}</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-badge"></i>
                            <h6 class="title-post">
                                <a href="#">{{heading5}}</a>
                            </h6>
                        </div><!-- /icon -->
                        <div class="icon-post-v1">
                            <p>{{paragraph5}}</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-volume-2"></i>
                            <h6 class="title-post">
                                <a href="#">{{heading6}}</a>
                            </h6>
                        </div><!-- /icon -->
                        <div class="icon-post-v1">
                            <p>{{paragraph6}}</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->
            </div><!-- /row -->
        </div>
    </div><!-- /container -->
</section><!-- /flat-row flat-icon icon-left -->