<section class="flat-row flat-about-charry">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-section">
                    <h4>{{subHeading}}</h4>
                    <h2>{{heading}}</h2>
                </div>
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
        <div class="about-charry">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-charry-post">
                        {{{body}}}
                    </div>
                </div>
                <div class="col-md-12 text-center mb-10" style="margin-top: 20px"><button
                        class="flat-button button-style button"
                        onclick="window.location.href='/{{buttonLink}}'">{{buttonLabel}}</button></div>
            </div>
        </div>
    </div><!-- /.container -->
</section><!-- /flat-row flat-about-charry -->