<div class="page-title parallax parallax2" style="background-image: url({{imageUrl}})">
    <div class="overlay v1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="flat-counter">
                    <div class="numb-count" data-to="{{number1}}" data-speed="2000" data-waypoint-active="yes">
                        {{number1}}</div>
                    <div class="name-count">
                        <p>{{label1}}</p>
                    </div>
                </div><!-- /flat-counter -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3">
                <div class="flat-counter">
                    <div class="numb-count" data-to="{{number2}}" data-speed="2000" data-waypoint-active="yes">
                        {{number2}}</div>
                    <div class="name-count">
                        <p>{{label2}}</p>
                    </div>
                </div><!-- /.roll-counter -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3">
                <div class="flat-counter">
                    <div class="numb-count" data-to="{{number3}}" data-speed="2000" data-waypoint-active="yes">
                        {{number3}}</div>
                    <div class="name-count">
                        <p>{{label3}}</p>
                    </div>
                </div><!-- /flat-counter -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3">
                <div class="flat-counter">
                    <div class="numb-count" data-to="{{number4}}" data-speed="2000" data-waypoint-active="yes">
                        {{number4}}</div>
                    <div class="name-count">
                        <p>{{label4}}</p>
                    </div>
                </div><!-- /flat-counter -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /page-title parallax parallax2 -->