<section class="flat-row icon-left-square">
    <div class="container">
        <div class=" flat-icon">
            <div class="row">
                <div class="col-md-4">
                    <div class="icon">
                        {{!-- <div class="icon-square">
                            <i class="{{icon1}}"></i>
                        </div> --}}
                        <div class="icon-post">
                            <h6 class="title-post">
                                {{!-- <a href="#">{{heading1}}</a> --}}
                                {{heading1}}
                            </h6>
                            <p>{{paragraph1}}</p>
                            <div class="more">
                                <a href="{{linkUrl1}}">{{linkLabel1}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                        {{!-- <div class="icon-square">
                            <i class="icon-briefcase"></i>
                        </div> --}}
                        <div class="icon-post">
                            <h6>
                                {{!-- <a href="#">{{heading2}}</a> --}}
                                {{heading2}}
                            </h6>
                            <p>{{paragraph2}}</p>
                            <div class="more">
                                <a href="{{linkUrl2}}">{{linkLabel2}}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icon">
                        {{!-- <div class="icon-square">
                            <i class="icon-support"></i>
                        </div> --}}
                        <div class="icon-post">
                            <h6>
                                {{!-- <a href="#">{{heading3}}</a> --}}
                                {{heading3}}
                            </h6>
                            <p>{{paragraph3}}</p>
                            <div class="more">
                                <a href="{{linkUrl3}}">{{linkLabel3}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /flat-row icon-left-square -->