<section class="flat-row flat-support-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="flat-support">
                    <div class="support-wrapper">
                        <h4 class="title-post">
                            <a href="#">{{heading}}</a>
                        </h4>
                        <p>{{paragraph}}</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="support-icon">
                                <div class="icon">
                                    <i class="icon-{{icon1}}"></i>
                                    <h6 class="title-post">
                                        <a href="#">{{heading1}}</a>
                                    </h6><!-- /title-post -->
                                </div><!-- /icon -->
                                <div class="icon-post-v1">
                                    <p>{{paragraph1}}</p>
                                </div><!-- /icon-post-v1 -->
                            </div><!-- /support-icon -->
                        </div><!-- /col-md-6 -->

                        <div class="col-md-6">
                            <div class="support-icon">
                                <div class="icon">
                                    <i class="icon-{{icon2}}"></i>
                                    <h6 class="title-post">
                                        <a href="#">{{heading2}}</a>
                                    </h6><!-- /title-post -->
                                </div><!-- /icon -->
                                <div class="icon-post-v1">
                                    <p>{{paragraph2}}</p>
                                </div><!-- /icon-post-v1 -->
                            </div><!-- /support-icon -->
                        </div><!-- /col-md-6 -->
                    </div><!-- /row -->

                    <div class="row">
                        <div class="flat-divider d30px"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="support-icon">
                                <div class="icon">
                                    <i class="icon-{{icon3}}"></i>
                                    <h6 class="title-post">
                                        <a href="#">{{heading3}}</a>
                                    </h6><!-- /title-post -->
                                </div><!-- /icon -->
                                <div class="icon-post-v1">
                                    <p>{{paragraph3}}</p>
                                </div><!-- /icon-post-v1 -->
                            </div><!-- /support-icon -->
                        </div><!-- /col-md-6 -->

                        <div class="col-md-6">
                            <div class="support-icon">
                                <div class="icon">
                                    <i class="icon-{{icon4}}"></i>
                                    <h6 class="title-post">
                                        <a href="#">{{heading4}}</a>
                                    </h6><!-- /title-post -->
                                </div><!-- /icon -->
                                <div class="icon-post-v1">
                                    <p>{{paragraph4}}</p>
                                </div><!-- /icon-post-v1 -->
                            </div><!-- /support-icon -->
                        </div><!-- /col-md-6 -->
                    </div><!-- /row -->
                </div><!-- /support-teaser -->
            </div><!-- /col-md-6 -->

            <div class="col-md-6">
                <div class="container-fluid">
                    <div class="img-wrapper">
                        <img src="{{imageUrl}}" alt="image">
                    </div>
                </div>
            </div><!-- /col-md-6 -->
        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /flat-row flat-support-us no-padding-bottom -->