<style>
    .tinted-image {
        background:
        /* top, transparent red, faked with gradient */
        linear-gradient(rgba(255, 103, 0, 0.3),
            rgba(255, 103, 0, 0.45)),
        /* bottom, image */
        url({{page.hero}}) center center / cover no-repeat;
    }
</style>

<div class="text-light rounded mb-5 p-5 tinted-image">
    <h1 class="display-1">{{page.title}}</h1>
    <p class="lead">{{page.description}}</p>
</div>

{{#each page.content}}

<div class="row">
    <div class="col">

        {{#switch type}}

        {{#case 'heading'}} {{{text}}} {{/case}}

        {{#case 'paragraph'}} {{{text}}} {{/case}}

        {{#case 'button'}}
        <div class="mt-2 mb-5"><a class="btn btn-primary" {{#if newTab}}target="_blank" {{/if}} href="/{{buttonValue}}"
                role="button">{{label}}</a></div>
        {{/case}}

        {{#case 'image'}} <img src="{{url}}" alt="image" class="img-fluid mb-5 rounded" /> {{/case}}

        {{/switch}}


    </div>
</div>


{{/each}}